<div id="fca-panel" class="fca-panel">
  <div class="fca-row">
    <span class="fca-label">Carriage:</span>
    <span data-bind="text: carriageLabel"></span>
  </div>
  <div class="fca-row">
    <span class="fca-label">Velocity (mm/min):</span>
    <span data-bind="text: feedText"></span>
  </div>
  <div class="fca-row small">
    <span class="fca-label">Dir:</span>
    <span data-bind="text: dirText"></span>
  </div>
  <div class="fca-row small" data-bind="visible: !operational()">
    <em>Printer not operational</em>
  </div>
</div>